// header
header{
    margin: 20px;
    font-family: "poppins";
    .logo_header{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .navbar{
        ul{
            list-style-type: none;
            display: flex;
            justify-content:center;
            padding-top: 30px;

            li{
                margin: 5px;
                color: grey;
                font: "poppins";
                .btnWhite{
                    background-color: whitesmoke;
                    height: 15px;
                    width: 15px;
                    border: 1px black solid;
                    border-radius: 3px;
                }
                .btnWhite:hover{
                    border: lightseagreen 1px solid;
                    cursor: pointer;
                }
                .btnBlack{
                    background-color: black;
                    height: 15px;
                    width: 15px;
                    border: 1px black solid;
                    border-radius: 3px;
                }
                .btnBlack:hover{
                    border: lightyellow 1px solid;
                    cursor: pointer;
                }
                .connexion{
                    background-color: grey;
                    color: whitesmoke;
                    border: none;
                    padding-top: 5px;
                    padding-bottom: 5px;

                }
                .connexion:hover{
                    background-color: lightgray;
                    cursor: pointer;
                }
            }
        }
    }
}