// section1
.sec1{
    background: linear-gradient(139deg, rgb(245, 245, 245) 0%, rgb(243,243,243) 100%);
    height: 300px;
    font-family: "poppins";
    div{
        position: relative;
        h3{
            color: rgb(192, 45, 45);
            font-size: 30px;
            padding-top: 30px;
            padding-left: 250px;
            margin-bottom: 0;
        }
        .logo-2{
            width: 550px;
            padding-left: 250px;
        }
        p{
            font-family: "poppins";
            color: grey;
            font-size: small;
            padding-left: 250px;
            padding-right: 300px;
        }
        .btnSale{
            border: none;
            background-color: rgb(192, 45, 45);
            padding: 10px 20px 10px 20px;
            border-radius: 15px;
            color: rgb(233, 233, 233);
            margin-left: 250px;
        }
        .btnSale:hover{
            cursor: pointer;
        }

        .t-shirt{
            height: 250px;
            width: 200px;
            position: absolute;
            top: 10%;
            left: 55%;
        }
    
    }
}